{#very tricky string, better not to use#}
{#<!DOCTYPE html>#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/favicon.png">
    {% block header %}{% endblock %}
    {% if title %}
    <title>{{title}} - microblog</title>
        {% if title == 'Charts' %}
        <script src="../static/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="../static/amcharts/serial.js" type="text/javascript"></script>
        <script src="../static/amcharts/amstock.js" type="text/javascript"></script>
        <!--<script src="../static/amcharts/plugins/dataloader/dataloader.min.js" type="text/javascript"></script>-->
        <link rel="stylesheet" href="../static/amcharts/style.css" type="text/css">
        {% endif %}
    {% else %}
    <title>microblog</title>
    {% endif %}
</head>
<body {% block form_auto_submit %}{% endblock %}>
    <div>Microblog:
        <a href="/index">Home</a>
        <a href="/lists">Lists</a>  <a href="/lists_hidden">Hidden Lists</a>
        <a href="/news">News</a>
        <a href="/charts">Charts</a> <a href="/api/history">Json_history</a>
        <a href="/login">Login</a> <a href="/logout">Logout</a>

    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>