{#auto refresh page via html tag#}
{% extends "base.html" %}
{% block header %}
{#    <meta http-equiv="refresh" content="300">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../static/jquery_functions.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
{% endblock %}
{# auto submit form#}
{#http://stackoverflow.com/questions/12376173/auto-submit-form-using-javascript#}
{% block form_auto_submit %}
    onload="setTimeout(function() { document.filter.submit() }, 300000)"
{% endblock %}
{% block content %}
<form action=""  method="post">
    {{form_update.hidden_tag()}}
    {{form_update.db}}
    <!--<input type="submit" value="Update">-->
</form>
{% if form_filter.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form_filter.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form_filter[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
{# action="#tops" to jump on #tops after submit form #}
<form action="#tops" method="post" name="filter">
    {{form_filter.hidden_tag()}}
    <p>
        filter:<br>
        City: {{form_filter.locations}}
        Currency: {{form_filter.currencies}}
        Operation: {{form_filter.operations}}
        Sources: {{form_filter.sources}}<br>
        {{form_filter.text(size=50)}}
        {% for error in form_filter.errors.text %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        Sort Order:<br>
{#        {{form_filter.sort_order.sort_field}}#}
{#    {% for person in form.potential_friends %}#}
{#    persons[person.data].profile_pic :: {{person.label}} :: {{person}}<br>#}
{#{% endfor %}#}
{#        {% for p in form_filter.sort_order %}#}
{#    {{p.label}} :: {{p.sort_field}}<br>#}
{#{% endfor %}#}
        {% for i in  form_filter.sort_order.entries%}
            {{i.form.sort_field}}
            {{i.form.sort_direction}}<br>
        {% endfor %}
        Number in top: {{ form_filter.top_limit(maxlength=2, size=3) }} Hours in top: {{ form_filter.top_hours(maxlength=2, size=3) }}
        <a href="http://minfin.com.ua/currency/auction/usd/sell/kiev/">minfin</a>
        <br><input type="submit" value="Filter">
    </p>
</form>
    <h4 id="tops" currency="{{form_filter.currencies.data}}" operation="{{form_filter.operations.data}}">
        --- top {{form_filter.currencies.data}} {{form_filter.operations.data}} ---
<a href="#tops">¶</a>
    </h4>
    {% if title == 'Hidden Lists' %}
        !!!!!!!!!!!! Hidden Lists !!!!!!!!!!!! <br>
    {% endif %}
{% for res_t in result_top %}
    <div data-bid-id="{{ res_t.bid }}" source="{{ res_t.source }}">
    <p>
        {{res_t.source}}
        {# change button hide or unhide  #}
        {% if title == 'Lists' %}
            <button type="button" class="hide-button">hide</button>
        {% elif title == 'Hidden Lists' %}
            <button type="button" class="unhide-button">unhide</button>
        {% endif %}
        <b>{{res_t.time.strftime('%H:%M')}}</b> {{res_t.amount}} <b>{{res_t.rate}}</b>
            {% if  res_t.phone.find('xxx-x') != -1 %}
                <a class="contact-hiden"> {{ res_t.phone }} </a>
            {% else %}
                {{res_t.phone}}
            {% endif %}
        {{res_t.comment}}
    </p>
    </div>
{% endfor %}
=====================================
{% for res in result %}
<div data-bid-id="{{ res.bid }}" source="{{ res.source }}">
    <p>
        {{res.source}}
        {# change button hide or unhide  #}
        {% if title == 'Lists' %}
            <button type="button" class="hide-button">hide</button>
        {% elif title == 'Hidden Lists' %}
            <button type="button" class="unhide-button">unhide</button>
        {% endif %}
        <b>{{res.time.strftime('%H:%M')}}</b> {{res.amount}} <b>{{res.rate}}</b>
        <!--{{res.location}} <b>{{res.operation}} {{res.currency}} -->
        {% if  res.phone.find('xxx-x') != -1 %}
            <a class="contact-hiden" data-bid-id="{{ res.bid }}"> {{ res.phone }} </a>
        {% else %}
            {{res.phone}}
        {% endif %}
        {{res.comment}}
    </p></div>
{% endfor %}
{% endblock %}