{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block content %}
    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    <form action="" method="post" name="save_contact">
        {{ form.hidden_tag() }}
        {% block contract %}{% endblock %}
        <p>
            {{ form.nic.label }}: {{ form.nic }}*
            {{ form.org_type.label }}: {{ form.org_type }}*
            {{ form.contact_type.label }}: {{ form.contact_type }}*<br>
            {{ form.names.label }}: {{ form.names }} <br>
            {{ form.numbers.label }}: {{ form.numbers }}* <br>
            {{ form.comment.label }}: {{ form.comment }}
        </p>
        Location <hr>
        <p>
            {{ form.city.label }}: {{ form.city }}
            {{ form.street.label }}: {{ form.street }}
            {{ form.building.label }}: {{ form.building }}
            <br>
            {{ form.loc_comments.label }}: {{ form.loc_comments }}
        </p>
        <br>
        <input type="submit" value="Save">
        <input type="reset" value="Reset">
{#        if javascript allowed#}
        <input type="button" value="Cancel" onclick="location.href='/numbers'">

    </form>
{% endblock %}
