{{ ansible_managed | comment }}
[Unit]
Description=spiders RES API
{% for service in item['after'] %}
After={{ service }}
{% endfor %}
#After=network.target
#After=mongodb.service
{% for service in item['requires'] %}
Requires={{ service }}
{% endfor %}
# start curs_auto.service in a same time
Wants=curs_auto.service


[Service]
# systemd will fork your daemon
Type=simple
# daemon needs to fork itself, and then quit before systemd continues
# (process itself will take care of its deamonizing)
# Type=forking
WorkingDirectory={{ home_dir }}/{{ venv_dir }}
#Restart=always
KillSignal=SIGQUIT
#KillSignal=SIGINT
{#PIDFile={{ item['pidfile'] }}#}
{#ExecStart={{ item['cmd'] }} --pidfile {{ item['pidfile'] }}#}
ExecStart={{ item['cmd'] }}
User={{ app_user }}
Group={{ app_user }}

#Environment=RACK_ENV=production

OOMScoreAdjust=-100

#ExecStop=
#ExecReload=
TimeoutSec=300
# forward stderr to syslog and journal
StandardError=syslog

[Install]
WantedBy=multi-user.target

