{{ ansible_managed | comment }}
[Unit]
Description=Auto stat collection for curs app
After=syslog.target
After=network.target
After=mongodb.service
Requires=mongodb.service

[Service]
Type=simple
#PIDFile=/var/run/cursauto.pif
# path venv
WorkingDirectory={{ home_dir }}/{{ venv_dir }}

User={{ remote_user }}
Group={{ remote_user }}

#Environment=RACK_ENV=production

OOMScoreAdjust=-100


ExecStart={{ home_dir }}/{{ venv_dir }}/{{ cursauto }}
#ExecStop=
#ExecReload=
TimeoutSec=300

[Install]
WantedBy=multi-user.target

