{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    function get_json(url) {
        // 1. Создаём новый объект XMLHttpRequest
        var xhr = new XMLHttpRequest();
        // 2. Конфигурируем его: GET-запрос на URL 'phones.json'
        xhr.open('GET', url, false);
        // 3. Отсылаем запрос
        xhr.send();
        // 4. Если код ответа сервера не 200, то это ошибка
        if (xhr.status != 200) {
            // обработать ошибку
            return alert(xhr.status + ': ' + xhr.statusText); // пример вывода: 404: Not Found
        } else {
            // вывести результат
            return JSON.parse(xhr.responseText);
            //  var usd =  ; // responseText -- текст ответа.
        }
    }

// DEFINE CHART PLUGINS
    // -------------- DOCUMENTATION ---------------------------
// https://docs.amcharts.com/3/javascriptstockchart/PeriodSelector
    //////////////////////////////////////////////////////////////
AmCharts.averageGraphs = 0;
AmCharts.addMovingAverage = function (dataSet, panel, field, graph) {
    // update dataset
    var avgField = "avg"+AmCharts.averageGraphs;
    dataSet.fieldMappings.push({
        fromField: avgField,
        toField: avgField});

    // calculate moving average
    var fc = 0;
    var sum = 0;
    for (var i = 0; i < dataSet.dataProvider.length; i++) {
        var dp = dataSet.dataProvider[i];
        if (dp[field] !== undefined) {
            sum += dp[field];
            fc++;
            dp[avgField] = Math.round(sum / fc * 10) / 10;
        }
    }

    // create a graph
    graph.valueField = avgField;
    panel.stockGraphs.push(graph);

    // increment average graph count
    AmCharts.averageGraphs++;
}

// CHART DATA
//  TODO: legendPeriodValueText
//var usd ={{usd|safe}}; // old method inserd data in script
{#var eur = get_json('/api/history/' + 'EUR')['EUR'];#}
{#var usd = get_json('/api/history/' + 'USD')['USD'];#}
{#var rub = get_json('/api/history/' + 'RUB')['RUB'];#}
{#var repaydate = get_json('/api/bonds')['repaydate'];#}
{#var usd_bonds = get_json('/api/bonds2')['USD'];#}
var file = get_json('/api/bonds3');
var usd = file['USD'];
var eur = file['EUR'];
var rub = file['RUB'];

var ukrstat = get_json('/api/ukrstat')['ukrstat'];
//var chartData ={{rub|safe}};
// CHART CONFIG
var chartConfig = {
	type: "stock",
    "theme": "none",
//    pathToImages: "http://www.amcharts.com/lib/3/images/",
    dataDateFormat: "YYYY-MM-DD_JJ",
	dataSets: [{
        title: "USD",
        fieldMappings: [{
            fromField: "buy",
            toField: "buy"
        }, {
            fromField: "sell",
            toField: "sell"
        }, {
            fromField: "nbu_rate",
            toField: "nbu_rate"
        }, {
            fromField: "amount_requested",
            toField: "amount_requested"
        }, {
            fromField: "amount_accepted_all",
            toField: "amount_accepted_all"
        },{
            fromField: "UAH_coupon",
            toField: "UAH_coupon"
        },{
            fromField: "UAH_income",
            toField: "UAH_income"
        },{
            fromField: "UAH_return",
            toField: "UAH_return"
        },{
            fromField: "USD_coupon",
            toField: "USD_coupon"
        },{
            fromField: "USD_income",
            toField: "USD_income"
        },{
            fromField: "USD_return",
            toField: "USD_return"
        },{
            fromField: "EUR_coupon",
            toField: "EUR_coupon"
        },{
            fromField: "EUR_income",
            toField: "EUR_income"
        },{
            fromField: "EUR_return",
            toField: "EUR_return"
        }],
			dataProvider: usd,
            categoryField: "time"

    }, {
        title: "EUR",
        fieldMappings: [ {
            fromField: "sell",
            toField: "sell"
        }, {
            fromField: "buy",
            toField: "buy"
        }, {
            fromField: "nbu_rate",
            toField: "nbu_rate"
        }, {
            fromField: "amount_requested",
            toField: "amount_requested"
        }, {
            fromField: "amount_accepted_all",
            toField: "amount_accepted_all"
        },{
            fromField: "UAH_coupon",
            toField: "UAH_coupon"
        },{
            fromField: "UAH_income",
            toField: "UAH_income"
        },{
            fromField: "UAH_return",
            toField: "UAH_return"
        },{
            fromField: "USD_coupon",
            toField: "USD_coupon"
        },{
            fromField: "USD_income",
            toField: "USD_income"
        },{
            fromField: "USD_return",
            toField: "USD_return"
        },{
            fromField: "EUR_coupon",
            toField: "EUR_coupon"
        },{
            fromField: "EUR_income",
            toField: "EUR_income"
        },{
            fromField: "EUR_return",
            toField: "EUR_return"
        }],
          dataProvider: eur,
          categoryField: "time"
    }, {
        title: "RUB",
        fieldMappings: [ {
            fromField: "sell",
            toField: "sell"
        }, {
            fromField: "buy",
            toField: "buy"
        }, {
            fromField: "nbu_rate",
            toField: "nbu_rate"
        }, {
            fromField: "amount_requested",
            toField: "amount_requested"
        }, {
            fromField: "amount_accepted_all",
            toField: "amount_accepted_all"
        },{
            fromField: "UAH_coupon",
            toField: "UAH_coupon"
        },{
            fromField: "UAH_income",
            toField: "UAH_income"
        },{
            fromField: "UAH_return",
            toField: "UAH_return"
        },{
            fromField: "USD_coupon",
            toField: "USD_coupon"
        },{
            fromField: "USD_income",
            toField: "USD_income"
        },{
            fromField: "USD_return",
            toField: "USD_return"
        },{
            fromField: "EUR_coupon",
            toField: "EUR_coupon"
        },{
            fromField: "EUR_income",
            toField: "EUR_income"
        },{
            fromField: "EUR_return",
            toField: "EUR_return"
        }],
          dataProvider: rub,
          categoryField: "time"
    }],

    categoryAxesSettings: {
    minPeriod: "DD"
    },

	panels: [{

			showCategoryAxis: false,
			title: "Cash",
			percentHeight: 50,

			stockGraphs: [{
				id: "Cash",
                title: "buy",
				valueField: "buy",
				comparable: true,
				compareField: "buy",
				balloonText: "<b>[[value]]</b>",
				compareGraphBalloonText: "[[title]]:<b>[[value]]</b>",
                periodValue: "Average",
                lineColor: "green",
                useDataSetColors: false,
                precision: 2,
                connect: false

			}, {
                id: "sell",
				valueField: "sell",
                title: "sell",
				type: "line",
                comparable: true,
				compareField: "sell",
                compareGraphBalloonText: "[[title]]:<b>[[value]]</b>",
				showBalloon: true,
				fillAlphas: 0,
                lineColor: "red",
                useDataSetColors: false,
                periodValue: "Average",
                precision: 2,
                connect: false
			}, {
				valueField: "nbu_rate",
                title: "NBU",
				type: "line",
				showBalloon: true,
				fillAlphas: 0,
                lineColor: "blue",
                useDataSetColors: false,
                periodValue: "Average",
                precision: 2,
                connect: false,
                hidden: true

			}],

			stockLegend: {
				periodValueTextComparing: "[[percents.value.close]]%",
				periodValueTextRegular: "[[value]]",
                labelText: "[[title]]"
			}
		},{
			title: "auction",
			percentHeight: 25,
			stockGraphs: [{
                title: "requested",
				valueField: "amount_requested",
				type: "column",
				showBalloon: true,
				fillAlphas: 1,
                lineColor: "blue",
                useDataSetColors: false,
                periodValue: "Sum"
			},
                {
                title: "accepted_all",
				valueField: "amount_accepted_all",
				type: "column",
				showBalloon: true,
				fillAlphas: 1,
                lineColor: "green",
                useDataSetColors: false,
                periodValue: "Sum"
			}
            ],
			stockLegend: {
				periodValueTextRegular: "[[value]]"
			}
		},{
			title: "bonds",
			percentHeight: 25,
			stockGraphs: [{
                valueField: "UAH_return",
                title: "UAH_return",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "blue",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "UAH_coupon",
                title: "UAH_coupon",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "blue",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "UAH_income",
                title: "UAH_income",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "blue",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "USD_return",
                title: "USD_return",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "green",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "USD_coupon",
                title: "USD_coupon",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "green",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "USD_income",
                title: "USD_income",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "green",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "EUR_return",
                title: "EUR_return",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "yelow",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "EUR_coupon",
                title: "EUR_coupon",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "yelow",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            },{
                valueField: "EUR_income",
                title: "EUR_income",
                type: "column",
                showBalloon: true,
                fillAlphas: 1,
                lineColor: "yelow",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2

            }],
			stockLegend: {
				periodValueTextRegular: "[[value]]"
			}
		}
	],

	chartScrollbarSettings: {
		graph: "sell"
	},

	chartCursorSettings: {
		valueBalloonsEnabled: true,
        fullWidth:true,
        cursorAlpha:0.1,
        valueLineEnabled: true,
        valueLineBalloonEnabled: true,
        animationDuration: 0
	},

     balloon: {
        animationDuration: 0
    },

	periodSelector: {
        position: "left",

		periods: [
{#		{#}
{#			period: "WW",#}
{#			selected: true,#}
{#			count: 1,#}
{#			label: "week"#}
{#		},{#}
{#			period: "MM",#}
{#			selected: false,#}
{#			count: 1,#}
{#			label: "1 month"#}
{#		},{#}
{#			period: "MM",#}
{#			selected: false,#}
{#			count: 3,#}
{#			label: "3 month"#}
{#		},{#}
{#			period: "MM",#}
{#			selected: false,#}
{#			count: 6,#}
{#			label: "6 month"#}
{#		}, {#}
{#			period: "YYYY",#}
{#			count: 1,#}
{#			label: "1 year"#}
{#		},{#}
{#			period: "YYYY",#}
{#			count: 2,#}
{#			label: "2 year"#}
{#		}, #}
            {
			period: "YTD",
			label: "YTD"
		}, {
			period: "MAX",
			label: "MAX"
		}]
	},

    dataSetSelector: {
    position: "left" }
};

// ADD INDICATORS
//AmCharts.addMovingAverage(chartConfig.dataSets[0], chartConfig.panels[0], 'value', {
//    useDataSetColors: false,
//    color: "#ccffcc",
//    title: "Moving average"
//})

var chartConfig_ukrstat = {
   type: "stock",
    "theme": "none",
	dataSets: [{
        title: "ukrstat",
        fieldMappings: [{
            fromField: "import",
            toField: "import"
        }, {
            fromField: "export",
            toField: "export"
        },{
            fromField: "saldo",
            toField: "saldo"
        }],
			dataProvider: ukrstat,
            categoryField: "time"

    }],

    categoryAxesSettings: {
    minPeriod: "MM"
    },

	panels: [{

			showCategoryAxis: false,
			title: "saldo",
			percentHeight: 50,

			stockGraphs: [{
				id: "saldo",
                title: "saldo",
				valueField: "saldo",
{#				comparable: true,#}
{#				compareField: "export",#}
				balloonText: "<b>[[value]]</b>",
				compareGraphBalloonText: "[[title]]:<b>[[value]]</b>",
                periodValue: "Sum",
                lineColor: "green",
                useDataSetColors: false,
                precision: 2,
                connect: false

			}],

			stockLegend: {
				periodValueTextComparing: "[[percents.value.close]]%",
				periodValueTextRegular: "[[value]]",
                labelText: "[[title]]"
			}
		},{
			title: "imp_exp",
			percentHeight: 50,
			stockGraphs: [{
                id: "import",
                title: "import",
				valueField: "import",
				type: "column",
				showBalloon: true,
				fillAlphas: 1,
                lineColor: "red",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2
			},
                {
                title: "export",
				valueField: "export",
				type: "column",
				showBalloon: true,
				fillAlphas: 1,
                lineColor: "blue",
                useDataSetColors: false,
                periodValue: "Sum",
                precision: 2
			}],
                stockLegend: {
				periodValueTextComparing: "[[percents.value.close]]%",
				periodValueTextRegular: "[[value]]",
                labelText: "[[title]]"
			}}],

	chartScrollbarSettings: {
		graph: "import"
	},

	chartCursorSettings: {
		valueBalloonsEnabled: true,
        fullWidth:true,
        cursorAlpha:0.1,
        valueLineEnabled: true,
        valueLineBalloonEnabled: true,
        animationDuration: 0
	},

     balloon: {
        animationDuration: 0
    },

	periodSelector: {
        position: "left",

		periods: [{
			period: "MM",
			selected: true,
			count: 1,
			label: "1 month"
		}, {
			period: "YYYY",
			count: 1,
			label: "1 year"
		}, {
			period: "YTD",
			label: "YTD"
		}, {
			period: "YYYY",
			count: 2,
			label: "2 year"
		},{
			period: "YYYY",
			count: 3,
			label: "3 year"
		}, {
			period: "MAX",
			label: "MAX"
		}]
	},

    dataSetSelector: {
    position: "left" }
};
// CREATE CHART
var chart = AmCharts.makeChart("chartdiv", chartConfig);
var chart_ukrstat = AmCharts.makeChart("ukrstat", chartConfig_ukrstat);

</script>
<div id="chartdiv" style="width:100%; height:700px;"></div>
<div id="ukrstat" style="width:100%; height:700px;"></div>
{% endblock %}